.container{
 
   
    display: block;
    background-color: rgb(236, 241, 245);
    min-height: fit-content;
    max-width: 70%;
    position: relative;
    padding: 3px;
    top:20px;
    border-radius: 20px;
}
.item{
    display: flex;
    align-items: center ;
    justify-content:space-around;
    overflow:scroll;
}
